@inherits RazorSliceHttpResult<UpdateDetails>
@implements IUsesLayout<_Layout, Layout>

<article class="hcenter">
    <form action="@(Model.Destination)" method="post">
        <h1>Login</h1>
        <div>
            Current email
        </div>
        <div>
            @(Model.CurrentEmail)
        </div>
        <div>
            <label for="email">Email</label>
        </div>
        <div>
            <input id="email" type="text" maxlength="256" name="email"/>
        </div>
        <div>
            <label for="password">Password</label>
        </div>
        <div>
            <input id="password" type="password" name="password"/>
        </div>
        <div>
            <input type="hidden" name="@(Model.Antiforgery.FormFieldName)" value="@(Model.Antiforgery.RequestToken)"/>
        </div>
        <div>
            <input type="submit" name="updateButton" value="Update details"/>
        </div>
    </form>
</article>

@functions
{
    public Layout LayoutModel => new() { Title = "Update details" };
}
