@inherits RazorSliceHttpResult<BlogEntry>
@implements IUsesLayout<_Layout, Layout>

<article>
    @Model.Contents
</article>

@if (Model.ToEditPage is not null)
{
    <div class="hcenter">
        <form action="@Model.ToEditPage" method="GET">
            <input type="submit" value="Edit"/>
        </form>
    </div>
}

@functions
{
    public Layout LayoutModel => new() { Title = @Model.Title };
}
