@inherits RazorSlice<BlogEntry>
@implements IUsesLayout<_PostLayout, PostLayout>

<article>
    @Model.Contents
</article>

@if (Model.ToEditPage is not null)
{
    <div class="hcenter">
        <form action="@Model.ToEditPage" method="GET">
            <input type="submit" value="Edit"/>
        </form>
    </div>
}

@functions
{
    public PostLayout LayoutModel => Model.Header with { Title = Model.Title };
}
